/*$spaceship_width: 100px;


body{
  overflow: hidden;
  background-color:#000;
}
.game{
  position: absolute;
  width:1260px;
  height:700px;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -630px;
  overflow: hidden;
}

//////////////////flight animation ////////////////////

.stars0 {
    position: absolute;
    top:700px;
    animation: move_stars0 6s linear;
}
@-webkit-keyframes move_stars0 {
   0%{ transform: translateY(-700px); }
   100%{ transform: translateY(700px); }
}
@keyframes move_stars0 {
  0%{ transform: translateY(-700px);}
  100%{ transform: translateY(700px); }
}

.stars1 {
    position: absolute;
    top: -700px;
    animation: move_stars1 6s linear infinite;
}
@-webkit-keyframes move_stars1 {
  100%  { transform: translateY(1400px);  }
}
@keyframes move_stars1 {
  100%  { transform: translateY(1400px);  }
}

.stars2 {
  position: absolute;
  animation: move_stars2 6s linear infinite;
  animation-delay: 3s;
  top: -700px;
}
@-webkit-keyframes move_stars2 {
  100%  { transform: translateY(1400px);  }
}
@keyframes move_stars2 {
  100%  { transform: translateY(1400px);  }
}

.stars0__ {
    position: absolute;
    top:700px;
    animation: move_stars0__ 8s linear;
}
@-webkit-keyframes move_stars0__ {
  0%{ transform: translateY(-700px);}
  100%{ transform: translateY(700px); }
}
@keyframes move_stars0__ {
  0%{ transform: translateY(-700px);}
  100%{ transform: translateY(700px); }
}

.stars1__ {
    position: absolute;
    top: -700px;
    animation: move_stars1__ 8s linear infinite;
}
@-webkit-keyframes move_stars1__ {
  100%  { transform: translateY(1400px);  }
}
@keyframes move_stars1__ {
  100%  { transform: translateY(1400px);  }
}

.stars2__ {
  position: absolute;
  animation: move_stars2__ 8s linear infinite;
  animation-delay: 4s;
  top: -700px;
}
@-webkit-keyframes move_stars2__ {
  100%  { transform: translateY(1400px);  }
}
@keyframes move_stars2__ {
  100%  { transform: translateY(1400px);  }
}




//////////////////

  //SPACESHIP

.spaceship{
  position: absolute;
  top: 545px;
/*  left: calc(50% - #{$spaceship_width/2});
  left: 50%;
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
}

.spaceship_img{
    position: absolute;
    top:0px;
    left:0px;
}


.blaze1{
  fill:#f84;
  animation: blaze1 0.17s infinite;

  @-webkit-keyframes blaze1 {
  0%{ transform: translateY(-18px); }
  50%{ transform: translateY(12px); }
  100%{ transform: translateY(-18px); }
  }

  @keyframes blaze1 {
  0%{ transform: translateY(-18px); }
  50%{ transform: translateY(12px); }
  100%{ transform: translateY(-18px); }
  }
}

.blaze2{
  fill:#a11;
  animation: blaze2 0.17s infinite;

  @-webkit-keyframes blaze2 {
  0%{ transform: translateY(-18px); }
  50%{ transform: translateY(12px); }
  100%{ transform: translateY(-18px); }
  }

  @keyframes blaze2 {
  0%{ transform: translateY(-18px); }
  50%{ transform: translateY(12px); }
  100%{ transform: translateY(-18px); }
  }
}


  ////////LASERS


.laser_beam{
     position: absolute;
     top: 560px;
     width: 2px;
     height: 30px;
     background-color:#f11;
     transition:transform 0.04s;
     -webkit-transition:transform 0.04s;
}

.alien_laser{
     position: absolute;
     width: 2px;
     height: 30px;
     background-color:#9f9;
     transition:transform 0.04s;
     -webkit-transition:transform 0.04s;
}

  //ALIEN ARMY

.wrapper{
  width:1000px;
  position:absolute;
  text-align:center;
  top:10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

//ALIEN

.alien_div{
  position: relative;
  height: 75px;
  width: 50px;
}


.alien_sprite {
  animation: move 0.5s steps(8) infinite;
}

@-webkit-keyframes move {
0%{ transform: translateY(-526px); }
100%{ transform: translateY(76px); }
}

@keyframes move {
0%{ transform: translateY(-526px); }
100%{ transform: translateY(76px); }
}


.explosion{
  position: absolute;
  z-index:999;
  width:400px;
  height:400px;
  left: -170px;
  top: -170px;
}

.modal{
  width:1260px;
  height:700px;
  font-family: 'Aldrich';
  font-size: 15px;
  text-align:center;
  line-height: 150%;
  transition:.3s all;
  -webkit-transition:.3s all;
}

.txt_wrapper{
  width:300px;
  position:absolute;
  top:15%;
  left:420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid #9cbcf0;
  padding: 60px;
  color:#fff;
  background-color:#000;
}

.txt0{
  grid-column-start: 1;
  grid-column-end: 3;
}

.new_game_button{
  position: absolute;
  width:280px;
  height:40px;
  background-color:#9cbcf0;
  left:490px;
  padding-top:18px;
  cursor: pointer;
}

.screen_too_small{
  width:100%;
  height:100%;
  text-align:center;
  display:none;
}

.screen_too_small_p{
    margin-top: 30%;
    color:#fff;
    font-family: 'Aldrich';
}

@media only screen and (max-width: 1100px) {
  .screen_too_small{ display:block; }
  .game{ display:none; }
  #app{ display:none; }

}
*/
